.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(220, 135, 241);
    height: 100vh;
}

.App__logo {
    height: 100px !important;
    object-fit: contain !important;
    margin: 50px !important;
}

.App__body {
    background: url("https://www.pngkey.com/png/full/859-8598072_picture-freeuse-library-silhoutte-mobile-at-greatdrawings-cell.png") no-repeat center;
    background-size: contain;
    height: 400px;
    width: 250px;
    padding: 74px;
    background-size: contain;
}

.App__bodyBackground {
    background-color: white;
    height: 400px;
}